# {{ ansible_managed }}

<IfModule remoteip_module>
  RemoteIPHeader X-Forwarded-For
  RemoteIPInternalProxy 127.0.0.1/8
  SetEnvIf X-Forwarded-Proto "https" HTTPS=on

  LogFormat "%v:%p %a %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" remoteip_vhost_combined
  LogFormat "%a %l %u %t \"%r\" %>s %O \"%{Referer}i\" \"%{User-Agent}i\"" remoteip_combined
  LogFormat "%a %l %u %t \"%r\" %>s %O" remoteip_common
</IfModule>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
